body {
}

h1 {
}

p {
}

input {

}

button {
    background-color: #40d595;
    border-radius: 3px;
    border-color: #ff0000;
}

p.active {
    display: block;
}

p.inactive {
    display: none;
}

div.active {
    display: block;
}

div.inactive {
    display: none;
}

input.active {
    display: inline;
}

input.inactive {
    display: none;
}

label.active {
    display: inline;
}

label.inactive {
    display: none;
}

button.active {
    /* display: block makes the buttons vertical */
    display: inline;
}

button.inactive {
    display: none;
}
